doctype html
html
  head
    meta(charset='UTF-8')
    base(target='_blank')
    meta(name='theme-color' content='#121212')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='robots' content='index,follow')
    meta(name='coverage' content='Worldwide')
    meta(name='distribution' content='Global')
    meta(name='url' content='https://instaiva.js.org/')
    title Instaiva - Free and OpenSource Instagram DP Downloader
    meta(name='title' content='Instaiva - Free and OpenSource Instagram DP Downloader.')
    meta(name='description' content='Instaiva is a Free and OpenSource Instagram DP Downloader. Instaiva is a 100% free and best Instagram Profile downloader.')
    meta(name='keywords' content='instagram profile download, insta dp download, insta dp viewer, instagram dp viewer, instagram profile picture download, insta profile viewer, download instagram profile pic, instagram profile picture viewer, instagram profile photo download, insta dp downloader')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://instaiva.js.org/')
    meta(property='og:title' content='Instaiva - Free and OpenSource Instagram DP Downloader.')
    meta(property='og:description' content='Instaiva is a Free and OpenSource Instagram DP Downloader. Instaiva is a 100% free and best Instagram Profile downloader.')
    meta(property='og:image' content='./assets/logo-wide.png')
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content='https://instaiva.js.org/')
    meta(property='twitter:title' content='Instaiva - Free and OpenSource Instagram DP Downloader.')
    meta(property='twitter:description' content='Instaiva is a Free and OpenSource Instagram DP Downloader. Instaiva is a 100% free and best Instagram Profile downloader.')
    meta(property='twitter:image' content='./assets/logo-wide.png')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Comfortaa&family=Dosis:wght@300;400&family=Exo+2:ital,wght@0,300;0,400;1,300;1,400&family=Poppins:wght@300;400&family=Roboto:wght@300&display=swap' rel='stylesheet')
    link(rel='apple-touch-icon' sizes='180x180' href='./assets/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./assets/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./assets/favicon-16x16.png')
    link(rel='manifest' href='./site.webmanifest')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='stylesheets/normalize.min.css')
    link(rel='stylesheet' href='stylesheets/sweetalert2.dark.min.css')
    link(rel='stylesheet' href='stylesheets/app.css')
  body
    block content
    script(src='javascript/jquery.min.js')
    script(src='javascript/typed.min.js')
    script(src='javascript/FileSaver.min.js')
    script(src='javascript/modernizr.min.js')
    script(src='javascript/js-convert-case.min.js')
    script(src='javascript/sweetalert2.min.js')
    script(src='javascript/gh-buttons.js')
    script(src='javascript/app.js')